.switch-btn {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.switch-btn:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  text-decoration: underline;
}

.switch-btn:active {
  outline: none;
  border: none;
}

.switch-btn:focus {
  outline: 0;
}

.alert_ {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 5;
}
